*{
    margin: auto;
    
}

html{
    background-color: ghostwhite;
}

header{
    background-color: ghostwhite;
    font-family: 'Noto Sans Japanese', sans-serif;
    
    border: 0px solid;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0px;
    height: 50px;
    
    z-index: 30;
    
    box-shadow: 0px 3px 4px rgba(0,0,0,0.4);
    
    
    
}


header h1{
    float: left;
    overflow: hidden;
}



#headerbuttons{
    float: right;
    margin-left: 5px;
    margin-right: 5px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    color: black;
    height: 90%;
    font-size: 20px
    
}

#headerbuttons:hover{
    transition: 0.5s;
}

.button_1{
    border-bottom: 10px solid #b2473e;
}

.button_1:hover{
    background-color: #b2473e;
}

.button_2{
    border-bottom: 10px solid #eab364;
    
}

.button_2:hover{
    background-color: #eab364;
}

.button_3{
    border-bottom: 10px solid #a4cabc;   
}

.button_3:hover{
    background-color: #a4cabc;
}


.Welcome{
    font-family: 'Noto Sans Japanese', sans-serif;
    margin: 10px;
}

.topimg{
    text-align: center;
}

.topimg img{
    width: 80%;
    overflow: hidden;
    margin-top: 50px;
    
    
}

.topbuttons {
    margin: 10px;
    height: 100px;
    padding: inherit;
    text-align: center;
    
}



.topbuttons .button-news{
    width: 30%;
    height: 100px;
    background-color: #a4cabc;
    float: left;
    margin-left: 1.6665%;
    margin-right: 1.6665%;
    
}

.topbuttons h1{
    font-family: 'Orbitron', sans-serif;
    font-size: 200%;
    border-bottom: 1px solid;
}

.topbuttons a {
    text-decoration: none;
    color: black;
}

.topbuttons i{
    font-size: 50px;
    color: white;
    margin: 3px;
}

.topbuttons .button-forvisiters{
    width: 30%;
    height: 100px;
    background-color: #eab364;
    float: left;
    margin-left: 1.6665%;
    margin-right: 1.6665%;
}

.topbuttons .button-formembers{
    width: 30%;
    height: 100px;
    background-color: #b2473e;
    float: left;
    margin-left: 1.6665%;
    margin-right: 1.6665%;
}

.topnews{
    margin: 20px;
    height:500px;
    width: 60%;
    background-image:url(imgs/cork.jpg);
    box-shadow: 3px 3px 4px rgba(0,0,0,0.4);
}

.topnews-title{
    padding-left: 20px;
    border-bottom: 3px solid;
    border-bottom-style:dotted;
    height: 40px;
}

.topnews-container{
    height: 457px;
}

.topnews-date{
    width: 120px;
    float: left;
    height: 100%;
    border-right: 2px solid;
}

#topnews-main-date{
    float: right;
    margin: 10px;
    padding-right: 1px;
}

#topnews-main-cap{
    float: left;
    margin: 10px;
    color: black;
}

footer{
    text-align: center;
    width: 100%;
    height: 40px;
    position: relative;
    background-color: rgba(0,0,0,0.30)
}

.ftext{
}

