*{
    margin: auto;
    
}

html{
    background-color: ghostwhite;
}

header{
    background-color: ghostwhite;
    font-family: 'Noto Sans Japanese', sans-serif;
    
    border: 0px solid;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0px;
    
    z-index: 30;
    
    box-shadow: 0px 3px 4px rgba(0,0,0,0.4);
    
    
}

.Welcome{
    font-family: 'Noto Sans Japanese', sans-serif;
    margin: 10px;
}

img.topimg{
    width: 100%;
    overflow: hidden;
    
    
}

.topbuttons {
    margin: 10px;
    height: 100px;
    padding: inherit;
    text-align: center;
    
}



.topbuttons .button-news{
    width: 30%;
    height: 100px;
    background-color: #a4cabc;
    float: left;
    margin-left: 1.6665%;
    margin-right: 1.6665%;
    
}

.topbuttons h1{
    font-family: 'Orbitron', sans-serif;
    font-size: 200%;
    border-bottom: 1px solid;
}

.topbuttons a {
    text-decoration: none;
    color: black;
}

.topbuttons i{
    font-size: 50px;
    color: white;
    margin: 3px;
}

.topbuttons .button-forvisiters{
    width: 30%;
    height: 100px;
    background-color: #eab364;
    float: left;
    margin-left: 1.6665%;
    margin-right: 1.6665%;
}

.topbuttons .button-formembers{
    width: 30%;
    height: 100px;
    background-color: #b2473e;
    float: left;
    margin-left: 1.6665%;
    margin-right: 1.6665%;
}

.topnews{
    margin: 10px;
    height:500px;
    width: 60%;
    background-image:url(cork.jpg);
    box-shadow: 3px 3px 4px rgba(0,0,0,0.4);
}

.topnews-title{
    padding-left: 20px;
    border-bottom: 3px solid;
    border-bottom-style:dotted;
    height: 40px;
}

.topnews-container{
    height: 457px;
}

.topnews-date{
    width: 30%;
    float: left;
    height: 100%;
    border-right: 2px solid;
}

#topnews-main-date{
    float: right;
    margin: 10px;
    padding-right: 1px;
}

#topnews-main-cap{
    float: left;
    margin: 10px;
    color: black;
}


